/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* SETTINGS */

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */
.header {
  background-color: rgb(255 105 0);
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 2px groove whitesmoke;

  /* DEBUG */
  padding: 20px;
  min-height: 100px;
}

.header .main__logo #main__logo {
  height: 50px;
}

header ul {
  list-style: none;
  display: flex;
}

ul li {
  padding: 10px;
}

ul li a {
  color: white;
  text-decoration: none;
}

/* SALE ITEMS */

.sale__items .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: calc(100% / 3 - 10px);
  margin-bottom: 10px;
  min-width: 250px;

  /*   DEBUG
  background-color: lightgrey; */
  padding: 20px;
  min-height: 100px;
}

/* CARD IMGS */
.card img {
  width: 100%;
}

.card:hover .ov__img {
  display: none;
}

.card .un__img {
  display: none;
}

.card:hover .un__img {
  display: block;
}

/* CARD INFO */

.item__info ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item__info ul li {
  padding: 0;
  margin: 0;
}

.item__info ul .brand {
  color: gray;
  font-size: 0.9rem;
  font-weight: 600;
}

.item__info ul .item__name {
  font-weight: 600;
}

.item__info ul .price {
  font-weight: 600;
  color: red;
}

.item__info ul .price .old__price {
  color: gray;
  text-decoration: line-through;
  font-size: 0.9rem;
}

/* FOOTER */

footer {
  background-color: hsl(0deg 0% 10.2%);
}

footer .container {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
}

footer ul {
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer .container .legal__aspect .body__list {
  display: flex;
  flex-direction: row;
}
